@model List<FoodService.ViewModel.ProductViewModel>

<section class="product-grid">
    <ul class="showcase">
        @foreach (var Product in Model)
        {
            <li>
                <i class="material-symbols-outlined">favorite</i>
                <img class="image" src="@Product.Image" alt="Imagem tênis" data-informations />
                <span class="price" data-informations>@Product.Price</span>
                <div class="information">
                    <h1 class="name" data-informations>@Product.Name</h1>
                    <h2 class="type" data-informations>@Product.Type</h2>
                    <p class="additional_info" data-informations>@Product.Description</p>
                    <span class="material-symbols-outlined btnAddCart">add_shopping_cart</span>
                </div>
            </li>
        }
    </ul>
</section>
